nav.nav
{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 1rem;
    background-color: var(--cor-preto);
    & ul.nav
    {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-evenly;
        list-style: none;
        padding: 0 1rem;
        & a
        {
            text-decoration: none;
            color: var(--cor-preto);
            background-color: var(--cor-amarelo);
            border-radius: 1rem;
            padding: 0.5rem 1rem;
            cursor: pointer;
            font-weight: 600;
        }
    }
    & img.logo
    {
        width: auto;
        height: 3rem;
    }
    & :is(a,button):is(.login,.sair)
    {
        background-color: var(--cor-amarelo);
        color: var(--cor-preto);
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 1rem;
        cursor: pointer;
        font-weight: 600;
        text-decoration: none;
    }
}
footer.footer
{
    padding: 1rem;
    background-color: var(--cor-preto);
    color: var(--cor-branco);
}