*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
    user-select: none;
    font-size: 1rem;
    line-height: 1.4;
    font-family: "Montserrat";
}
html,
body
{
    min-height: 100vh;
}
body
{
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.contato
{
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
}
.footer
{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}