@import "./default.css";
@import "./cores.css";
@import "./classes.css";

main
{
    padding: 2rem;
    display: grid;
    gap: 2rem;
}

section#apresentacao
{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2rem;
    
    & .grafico-container
    {
        background-color: var(--cor-fundo);
        border: 2px solid var(--cor-amarelo);
        border-radius: 1.5rem;
        padding: 2rem;
        display: grid;
        gap: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        
        & .grafico-titulo
        {
            font-size: 1.3rem;
            font-weight: 700;
            color: var(--cor-preto);
            border-bottom: 2px solid var(--cor-amarelo);
            padding-bottom: 1rem;
        }
        
        & canvas
        {
            max-width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 1200px)
{
    section#apresentacao
    {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 768px)
{
    section#apresentacao
    {
        grid-template-columns: 1fr;
    }
}