@import "./default.css";
@import "./cores.css";
@import "./classes.css";
main
{
    display: grid;
    align-content: start;
    gap: 1rem;
    padding: 1rem;
}
#boas-vindas
{
    display: grid;
    align-content: start;
    gap: 1rem;
    padding: 1rem;
    /* margin-bottom: 1rem; */
    background-color: var(--cor-preto);
    border-radius: 1rem;
    /* border-left: 8px solid var(--cor-amarelo); */
    color: var(--cor-branco);
    & h1
    {
        font-size: 4rem;
    }
    & p
    {
        color: var(--cor-branco);
    }
    & #nome-usuario
    {
        font-size: 3rem;
        color: var(--cor-amarelo);
    }
}
#apresentacao
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    & .card
    {
        display: grid;
        gap: 1rem;
        padding: 1rem;
        background-color: var(--cor-fundo);
        border: 2px solid var(--cor-amarelo);
        border-radius: 1rem;
        /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
        /* transition: 0.3s; */
        cursor: pointer;
        & *
        {
            cursor: pointer;
        }
        &:hover
        {
            /* transform: translateY(-5px); */
            /* box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15); */
        }
        & .card-header
        {
            display: grid;
            gap: 1rem;
            & h3
            {
                color: var(--cor-preto);
                font-size: 1rem;
                font-weight: bold;
            }
        }
        & .card-content
        {
            color: var(--cor-texto);
            font-size: 1rem;
            line-height: 1;
        }
        & .card-stats
        {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            & .stat
            {
                border-radius: 1rem;
                padding: 1rem;
                background-color: var(--cor-amarelo);
                text-align: center;
                & .value
                {
                    font-size: 1rem;
                    font-weight: bold;
                    color: var(--cor-preto);
                }
                & .label
                {
                    font-size: 1rem;
                    color: var(--cor-preto);
                    font-weight: normal;
                }
            }
        }
    }
}
/* @media(max-width: 768px)
{
    main
    {
        padding: 1rem;
    }

    .boas-vindas h1
    {
        font-size: 1.5rem;
    }

    section#apresentacao
    {
        grid-template-columns: 1fr;
    }
} */