@import "/css/default.css";
@import "/css/cores.css";
@import "/css/classes.css";

/* MAIN */

main
{
    display: grid;
    align-content: start;
    gap: 1rem;
    padding: 1rem;
}
#boas-vindas
{
    display: grid;
    align-content: start;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--cor-preto);
    border-radius: 1rem;
    color: var(--cor-branco);
    & h1
    {
        font-size: 4rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        flex-wrap: wrap;
        & .material-symbols-rounded
        {
            font-size: 3rem;
        }
    }
    & p
    {
        color: var(--cor-branco);
    }
    & #nome-usuario
    {
        font-size: 3rem;
        color: var(--cor-amarelo);
    }
}
#apresentacao
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    & .card
    {
        display: grid;
        gap: 1rem;
        padding: 1rem;
        background-color: var(--cor-fundo);
        border: 2px solid var(--cor-amarelo);
        border-radius: 1rem;
        cursor: pointer;
        & *
        {
            cursor: pointer;
        }
        & .card-header
        {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            color: var(--cor-preto);
            font-size: 1rem;
            font-weight: bold;
            & .material-symbols-rounded
            {
                font-size: 1.25rem;
            }
        }
        & .card-content
        {
            color: var(--cor-texto);
            font-size: 1rem;
            line-height: 1;
        }
        & .card-stats
        {
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            & .stat
            {
                border-radius: 1rem;
                padding: 1rem;
                background-color: var(--cor-amarelo);
                text-align: center;
                & .value
                {
                    font-size: 1rem;
                    font-weight: bold;
                    color: var(--cor-preto);
                }
                & .label
                {
                    font-size: 1rem;
                    color: var(--cor-preto);
                    font-weight: normal;
                }
            }
        }
    }
}
