@import "./default.css";
@import "./cores.css";
@import "./classes.css";

.footer{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.contato{
    display: grid;
    grid-auto-flow: column;
    justify-content: right;
}